@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #02020d;
  color: #ffffff;
  letter-spacing: -0.01em;
  line-height: 1.4;
}

code {
  font-family: 'Share Tech Mono', 'Fira Code', 'Droid Sans Mono', monospace;
}
